sphinx>=6.1.3
docutils>=0.19
myst_nb
numpydoc
sphinx_copybutton
sphinx_togglebutton
sphinxcontrib-matlabdomain
sphinxcontrib-images
sphinxcontrib-video
sphinx_gallery
pydata_sphinx_theme
sphinx_book_theme
sphinx_design
